/* =========================== */
/* layout has this .main class on <main> element */
.main {
  margin: var(--spacing-medium);
}
/* =========================== */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: var(--spacing-medium);
}

.flex {
  display: flex;
  gap: var(--spacing-medium);
}

.grid {
  display: grid;
  gap: var(--spacing-medium);
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
